<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <style>
        #dashboard_div{
            width: 600px;
            border: 1px solid #ccc;
        }
        #chart_div{
            height:400px;
            border-bottom: 1px solid #ccc;
        }
        #filter_div{
            height:50px;
        }
    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the controls package.
        google.charts.load('current', {'packages':['corechart', 'controls']});

        var config = {
            api:{
                enable: true,
                interval: 1000 * 3
            },
            candlestick:{
                product_code: 'BTC_JPY',
                duration: '1m',
                limit: 365,
                numViews: 5
            },
        }

        function drawChart(dataTable) {
            var chartDiv = document.getElementById('chart_div');
            var charts = [];

            // Create a dashboard.
            var dashboard = new google.visualization.Dashboard(chartDiv);

            // Create a chart
            var mainChart = new google.visualization.ChartWrapper({
                chartType: 'ComboChart',
                containerId: 'chart_div',
                options: {
                    hAxis: {'slantedText': false},
                    legend: {'position': 'none'},
                    candlestick: {
                        fallingColor: { strokeWidth: 0, fill: '#a52714' },
                        risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                    },
                    seriesType: "candlesticks",
                    series: {}
                },
                view: {
                    // candlestickを表示
                    columns: [
                        {
                            calc: function(d, rowIndex) {
                                return d.getFormattedValue(rowIndex, 0);
                            },
                            type: 'string'

                        }, 1, 2, 3, 4
                    ]
                    // 0 date 時間を文字列に変換
                    // 1 low
                    // 2 open
                    // 3 close
                    // 4 high
                    // 5 volumeはcandlestickには不要
                }

            });
            charts.push(mainChart);

            var options = mainChart.getOptions();
            var view = mainChart.getView();

            // Create a range filter
            var controlWrapper = new google.visualization.ControlWrapper({
                'controlType': 'ChartRangeFilter',
                'containerId': 'filter_div',
                'options': {
                    'filterColumnIndex': 0,
                    'ui': {
                        'chartType': 'LineChart',
                        'chartView': {
                            'columns': [0, 4]
                            // 0〜4(data, low, open, close, high)のデータを見る
                        }
                    }
                }
            });

            dashboard.bind(controlWrapper, charts);
            dashboard.draw(dataTable);

        }

        function send () {
            if (config.api.enable == false){
                return
            }
            var params = {
                "product_code": config.candlestick.product_code,
                "limit": config.candlestick.limit,
                "duration": config.candlestick.duration
            }
            // Ajax非同期処理
            $.get("/api/candle/", params).done(function (data) {
                // console.log(data)
                // {
                //     "product_code": "BTC_JPY",
                //     "duration": 3600000000000,
                //     "candles": [
                //         {
                //             "product_code": "BTC_JPY",
                //             "duration": 3600000000000,
                //             "time": "2021-01-11T06:00:00Z",
                //             "open": 3527323.5,
                //             "close": 3567013,
                //             "high": 3567013,
                //             "low": 3520259.5,
                //             "volume": 3060504.8185722404
                //         }
                //     ]
                // }

                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('date', 'Date');
                dataTable.addColumn('number', 'Low');
                dataTable.addColumn('number', 'Open');
                dataTable.addColumn('number', 'Close');
                dataTable.addColumn('number', 'High');
                dataTable.addColumn('number', 'Volume');

                var googleChartData = [];
                var candles = data["candles"];

                for(var i=0; i < candles.length; i++){
                    var candle = candles[i];
                    var date = new Date(candle.time);
                    var datas = [date, candle.low, candle.open, candle.close, candle.high, candle.volume];

                    googleChartData.push(datas)
                }

                dataTable.addRows(googleChartData);
                drawChart(dataTable);
            })
        }

        function changeDuration(s){
            config.candlestick.duration = s;
            send();
        }

        // 3秒ごとにsendを呼び出す
        setInterval(send, 1000 * 3)
        // ページが読み込まれた時にsendを呼び出す
        window.onload = function () {
           send()
            // マウスが乗ったときは、APIでバックエンドのデータを取りに行って書き換えないようにする
            $('#dashboard_div').mouseenter(function() {
                config.api.enable = false;
            }).mouseleave(function() {
                config.api.enable = true;
            });
        }
    </script>
</head>
<body>

<div>
    <button onclick="changeDuration('1s');">1s</button>
    <button onclick="changeDuration('1m');">1m</button>
    <button onclick="changeDuration('1h');">1h</button>
</div>

<div id="dashboard_div">
    <div id="chart_div"></div>
    <div id="filter_div"></div>
</div>

</body>
</html>